<div class='row'>
  <div class='col-md-3' >
    <%= image_tag @comic.image.url(:medium), {class: "img-thumbnail"}  %>
  </div>
  <div class='col-md-9'>
    <h2><%= @comic.title %> #<%= @comic.edition_number %></h2>
    <dl class="dl-horizontal">
      <dt>Sinopse:</dt>
      <dd><%= @comic.review %></dd>
      <dt>Ano de publicação:</dt>
      <dd><%= @comic.publication_year %></dd>
    </dl>
    <%= link_to 'Voltar', @comic.series_book %>
  </div>
</div>
<hr>
<%= render partial: "comments/comment_section", locals: { comments: @comic.comments } %>
