<div class='row'>
  <div class='col-md-12'>
    <section id='series'>
      <h1><%= @series_book.title %></h1>
      <%= image_tag @series_book.image.url(:medium), { class: "img-thumbnail" } %>
      <dl class="dl-horizontal">
        <dt>Editora</dt>
        <dd><%= @series_book.publisher %></dd>
        <dt>Ano</dt>
        <dd><%= @series_book.year %></dd>
        <dt>Revisão</dt>
        <dd><%= @series_book.review %></dd>
        <dt>Ano de lançamento</dt>
        <dd><%= @series_book.release %></dd>
        <dt>Número de edições</dt>
        <dd><%= @series_book.editions_number %></dd>
        <% if user_signed_in? %>
          <% if current_user.id == @like.try(:user).try(:id) %>
            <%= link_to delete_like_path(likeable_type:@series_book.class, id: @series_book.id), method: :delete, class: "btn btn-danger" do %>
              unlike
              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
            <% end %>
          <% else %>
            <%= link_to "/SeriesBook/#{@series_book.id}/like",  method: :post, class: "btn btn-primary" do %>
            Curtir
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          <% end %>
        <% end %> 
        <% else %>
            <%= link_to 'Logue para curtir!', new_user_session_path, class:"btn btn-default" %>
        <% end %>
      </dl>
    </section>
  </div>
</div>
<hr>
<div class='row'>
  <section id='chapters'>
  <% @series_book.comic_books.each do |comic_book| %>
    <div class='col-md-3'>
      <%= image_tag comic_book.image.url(:medium), { class: "img-thumbnail" } %>
      <%= comic_book.title %>
    </div>
  <% end %>
  </section>
</div>
