<div class='row'>
  <section id='series'>
    <div class='col-md-4'>
      <%= image_tag @series_book.image.url(:medium), { class: "img-thumbnail" } %>
    </div>
    <div class='col-md-8'>
      <h1><%= @series_book.title %></h1>
      <dl class="dl-horizontal">
        <dt>Editora</dt>
        <dd><%= @series_book.publisher %></dd>
        <dt>Ano</dt>
        <dd><%= @series_book.year %></dd>
        <dt>Revisão</dt>
        <dd><%= @series_book.review %></dd>
        <dt>Ano de lançamento</dt>
        <dd><%= @series_book.release %></dd>
        <dt>Número de edições</dt>
        <dd><%= @series_book.editions_number %></dd>
        <% if user_signed_in? %>
          <% if current_user.id == @like.try(:user).try(:id) %>
            <%= link_to "/SeriesBook/#{@series_book.id}/like", method: :delete, class: "btn btn-danger" do %>
              unlike
              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
            <% end %>
          <% else %>
            <%= link_to "/SeriesBook/#{@series_book.id}/like",  method: :post, class: "btn btn-primary" do %>
            Curtir
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          <% end %>
        <% end %>
        <% else %>
            <%= link_to 'Logue para curtir!', new_user_session_path, class:"btn btn-default" %>
        <% end %>
      </dl>
    </div>
    <%=  link_to 'Voltar', '/' %>
  </section>
</div>
<hr>
<h2><%= t 'commons.edition', count: @series_book.comic_books.count %></h2>
<hr>
<div class='row'>
  <% @series_book.comic_books.each do |comic_book| %>
  <section id="chapters-<%=comic_book.id%>">
    <div class='col-md-2'>
      <%= image_tag comic_book.image.url(:medium), { class: "img-thumbnail" } %>
    </div>
    <div class='col-md-4'>
      <h4><%= comic_book.title %> #<%= comic_book.edition_number %></h4>
      <%= link_to 'Ver mais', comic_book_path(comic_book.id) %>
    </div>
    </section>
    <% end %>
</div>
<hr>
<%= render partial: "comments/comment_section", locals: { comments: @series_book.comments } %>
