<ol class="breadcrumb" id='breadcrumbs'>
  <li><a <%= link_to 'Home', root_path %></a></li>
  <li class="active"><%= @series_book.title %></li>
</ol>
<div class='row'>
  <div class='col-md-10'>
    <div class='row'>
      <section id='series'>
        <div class='col-md-4'>
          <%= image_tag @series_book.image.url(:medium), { class: "img-thumbnail" } %>
        </div>
        <div class='col-md-8'>
          <h1><%= @series_book.title %></h1>
          <%= render partial: "likes/like", locals: { book: @series_book } %>
          <dl class="dl-horizontal">
            <dt>Editora</dt>
            <dd><%= @series_book.publisher %></dd>
            <dt>Ano</dt>
            <dd><%= @series_book.year %></dd>
            <dt>Ano de lançamento</dt>
            <dd><%= @series_book.release %></dd>
            <dt>Número de edições</dt>
            <dd><%= @series_book.editions_number %></dd>
          </dl>
          <p>Revisão</p>
            <blockquote>
              <p class="text-justify"><%= @series_book.review %></p>
              <footer>Fonte: <a href="https://pt.wikipedia.org/wiki/A_Morte_do_Superman" target="resource window">Wikipedia</a></footer>
            </blockquote>
        </div>
      </section>
    </div>
    <div class="clearfix">&nbsp;</div>
    <h2><%= t 'commons.edition', count: @series_book.comic_books.count %></h2>
    <div class='row'>
      <% @series_book.comic_books.each do |comic_book| %>
      <section id="chapters-<%=comic_book.id%>">
        <div class='col-md-2'>
          <%= image_tag comic_book.image.url(:medium), { class: "img-thumbnail" } %>
        </div>
        <div class='col-md-4'>
          <h4><%= comic_book.title %> #<%= comic_book.edition_number %></h4>
          <%= link_to 'Ver mais', comic_book_path(comic_book.id) %>
        </div>
      </section>
      <% end %>
    </div>
    <hr>
    <%= render partial: "comments/comment_section", locals: { comments: @series_book.comments } %>
  </div>
  <div class='col-md-2'>
    <%= render partial: "likes/list_likes", locals: { likes: @series_book.likes } %>
  </div>
</div>
