<!DOCTYPE html>
<html>
<head>
  <title>HQ Book</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">HQ Book</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <%= link_to 'Login', new_user_session_path, class: "btn btn-default navbar-btn"%>
      </ul>
    </div>
  </div>
  </nav>
  <div class='container'>
    <%= yield %>
    <footer>
      <p>HQ Book © 2015 - Rede social de histórias em quadrinhos.</p>
    </footer>
  </div>
</body>
</html>
