<!DOCTYPE html>
<html>
<head>
  <title>HQ Book</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">HQ Book</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class='dropdown'>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false"><%= current_user.name %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Meu perfil', profile_path(current_user.id) %></li>
              <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <%= button_to 'Fazer Login', new_user_session_path, class: "btn btn-default navbar-btn" %>
        <% end %>
      </ul>
    </div>
  </div>
  </nav>
    <div class='container'  style = "padding: 60px" >
      <%= flash[:error] %>
      <%= yield %>
      <footer>
        <p>HQ Book © 2015 - Rede social de histórias em quadrinhos.</p>
      </footer>
    </div>
</body>
</html>
